#editor { 
  position: absolute;
  top: 40px;
  left: 0px;
  width: 30%;
  height: 95%;
}

#vis { 
  position: absolute;
  top: 40px;
  right: 0px;
  width: 70%;
  height: 95%;
  border: 0;
  margin: 0;
  z-index: 10;
}


.header h1,h2,h3 {
  font-family: "Roboto", sans-serif;  
}


body, p {
  font-family: "Oxygen", sans-serif;
}