<!doctype HTML>
<meta charset = 'utf-8'>
<html>
  <head>
    <link rel='stylesheet' href='libraries/frameworks/uikit/css/uikit.min.css'>
    <link rel='stylesheet' href='libraries/frameworks/uikit/css/docs.css'>
    <link rel='stylesheet' href='css/googleopensans.css'>
    <link rel='stylesheet' href='libraries/frameworks/uikit/css/index.css'>
    <link rel='stylesheet' href='libraries/frameworks/uikit/css/jumbotron.css'>
    <link rel='stylesheet' href='libraries/highlighters/highlight.js/css/solarized_dark.css'>
    <link rel='stylesheet' href='css/local.css'>
    
    <script src='js/jquery.min.js' type='text/javascript'></script>
    <script src='libraries/frameworks/uikit/js/uikit.min.js' type='text/javascript'></script>
    <script src='js/angular.min.js' type='text/javascript'></script>
    <script src='js/ace.js' type='text/javascript'></script>
    <script src='js/ui-ace.min.js' type='text/javascript'></script>
    <script src='js/lodash.js' type='text/javascript'></script>
    <script src='js/lodash_load.js' type='text/javascript'></script>
    <script src='js/beautify.js' type='text/javascript'></script>
    <script src='js/d3.v3.js' type='text/javascript'></script>
    <script src='js/vega.js' type='text/javascript'></script>
    <script src='js/ggvis.js' type='text/javascript'></script>
    
    <style>
    .rChart {
      display: block;
      margin-left: auto; 
      margin-right: auto;
      width: 800px;
      height: 400px;
    }  
    </style>
    
  </head>
  <body ng-app ng-controller='rChartsCtrl'>
    
    
      <div class='container'>
      <!--<input id='slider' type='range' min=1960 max=2010 ng-model='year' width=200>
      <span ng-bind='year'></span>-->
      <input type='range' ng-model='ctrls.mysize' min=1 max=10 />
      <div id='vis' class='rChart datamaps'></div>  
      </div>
      <script>
      var ctrls = {
        'mysize': 2
      }
      // parse a spec and create a visualization view
      function parse(spec) {
        return vg.parse.spec(spec, function(chart){
          chart({el:'#vis'}).update(); 
        })
      }
    
      function rChartsCtrl($scope){
        $scope.ctrls = ctrls;
        $scope.$watch('ctrls.mysize', function(linesize){
          opts.spec.marks[0].marks[0].properties.update.strokeWidth = {'value': +linesize}
          parse(opts.spec);
        },true)
      }
      </script>    
    <script>
  var opts = {
 "dom": "chartd642fc278e6",
"width":    800,
"height":    400,
"bodyattrs": "ng-app ng-controller='rChartsCtrl'",
"spec": {
 "data": [
 {
 "name": "mtcars0/regroup1/bin2_flat",
"format": {
 "type": "csv",
"parse": {
 "cyl": "number",
"x_": "number",
"count_": "number" 
} 
},
"values": "\"cyl\",\"factor(cyl)\",\"x_\",\"count_\"\n4,\"4\",9,0\n4,\"4\",11,0\n4,\"4\",13,0\n4,\"4\",15,0\n4,\"4\",17,0\n4,\"4\",19,0\n4,\"4\",21,2\n4,\"4\",23,2\n4,\"4\",25,1\n4,\"4\",27,2\n4,\"4\",29,0\n4,\"4\",31,2\n4,\"4\",33,2\n4,\"4\",35,0\n6,\"6\",9,0\n6,\"6\",11,0\n6,\"6\",13,0\n6,\"6\",15,0\n6,\"6\",17,1\n6,\"6\",19,3\n6,\"6\",21,3\n6,\"6\",23,0\n8,\"8\",9,0\n8,\"8\",11,2\n8,\"8\",13,1\n8,\"8\",15,7\n8,\"8\",17,2\n8,\"8\",19,2\n8,\"8\",21,0" 
},
{
 "name": "mtcars0/regroup1/bin2",
"source": "mtcars0/regroup1/bin2_flat",
"transform": [
 {
 "type": "treefacet",
"keys": [
 "data.cyl" 
] 
} 
] 
},
{
 "name": "scale/stroke",
"format": {
 "type": "csv",
"parse": null 
},
"values": "\"domain\"\n\"4\"\n\"6\"\n\"8\"" 
},
{
 "name": "scale/x",
"format": {
 "type": "csv",
"parse": {
 "domain": "number" 
} 
},
"values": "\"domain\"\n7.7\n36.3" 
},
{
 "name": "scale/y",
"format": {
 "type": "csv",
"parse": {
 "domain": "number" 
} 
},
"values": "\"domain\"\n-0.35\n7.35" 
} 
],
"scales": [
 {
 "name": "stroke",
"type": "ordinal",
"domain": {
 "data": "scale/stroke",
"field": "data.domain" 
},
"points": true,
"sort": false,
"range": "category10" 
},
{
 "name": "x",
"domain": {
 "data": "scale/x",
"field": "data.domain" 
},
"zero": false,
"nice": false,
"clamp": false,
"range": "width" 
},
{
 "name": "y",
"domain": {
 "data": "scale/y",
"field": "data.domain" 
},
"zero": false,
"nice": false,
"clamp": false,
"range": "height" 
} 
],
"marks": [
 {
 "type": "group",
"from": {
 "data": "mtcars0/regroup1/bin2" 
},
"marks": [
 {
 "type": "line",
"properties": {
 "update": {
 "stroke": {
 "scale": "stroke",
"field": "data.factor(cyl)" 
},
"strokeWidth": {
 "value":      2 
},
"x": {
 "scale": "x",
"field": "data.x_" 
},
"y": {
 "scale": "y",
"field": "data.count_" 
} 
},
"ggvis": {
 "data": {
 "value": "mtcars0/regroup1/bin2" 
} 
} 
} 
} 
] 
} 
],
"width":    600,
"height":    400,
"legends": [
 {
 "orient": "right",
"stroke": "stroke",
"title": "factor(cyl)" 
} 
],
"axes": [
 {
 "type": "x",
"scale": "x",
"orient": "bottom",
"layer": "back",
"grid": true,
"title": "mpg" 
},
{
 "type": "y",
"scale": "y",
"orient": "left",
"layer": "back",
"grid": true,
"title": "count" 
} 
],
"padding": null,
"ggvis_opts": {
 "width":    600,
"height":    400,
"keep_aspect": false,
"resizable": true,
"padding": {},
"duration":    250,
"renderer": "svg",
"hover_duration":      0 
},
"handlers": null 
},
"id": "chartd642fc278e6" 
}
</script>
    
    
        <script>
        </script>
            
  </body>
</html>
