<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>rCharts vega angular-ui-ace</title>

    <!-- Stylesheets-->
    <link rel="stylesheet" href="./libraries/frameworks/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="http://getuikit.com/docs/css/docs.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./libraries/frameworks/uikit/css/index.css">
    <link rel="stylesheet" href="./libraries/frameworks/uikit/css/jumbotron.css">
    <link rel="stylesheet" href="./libraries/highlighters/highlight.js/css/solarized_dark.css">

    
    <!-- Javascripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="./libraries/frameworks/uikit/js/uikit.min.js"></script>
     <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
      <script type='text/javascript' src="http://slidify.github.io/ile/libraries/widgets/interactive/js/ace/js/ace.js"></script>
      <script type='text/javascript' src="http://angular-ui.github.io/ui-ace/dist/ui-ace.min.js"></script>
    <script type='text/javascript' src="./js/lodash.js"></script>
    <script type='text/javascript' src="./js/beautify.js"></script>
    <script type='text/javascript' src="./js/d3.v3.js"></script>
    <script type='text/javascript' src="./js/vega.js"></script>

<style type='text/css'>
#editor { 
  position: absolute;
  top: 40px;
  left: 0px;
  width: 30%;
  height: 95%;
}

#vis { 
  position: absolute;
  top: 40px;
  right: 0px;
  width: 70%;
  height: 95%;
  border: 0;
  margin: 0;
  z-index: 10;
}

  </style>

  </head>
  
  <body ng-app="myApp" ng-controller='MainCtrl'>

    <nav class="uk-navbar">
      <ul class="uk-navbar-nav">
     <li>
      <a href="/index.html">
         
        <i class='uk-icon-home'> </i>Home
      </a>
    </li>
    <li>
      <form class='uk-form'>
      <select ng-model='example' ng-options='example.title for example in examples'
        style='margin-left:5px; margin-top:5px;'></select>
      </form>
    </li>
    <li>
         <button href="#" class='uk-button uk-button-danger' 
          style='margin-left:5px; margin-top:5px; margin-right:5px;' ng-click='slidifyText()'>
           Submit
          </button>
    </li>
    <li>
      <div class='uk-button uk-button-success' 
        style='margin-left:5px; margin-top:5px; margin-right:5px;'>
      Instant Preview
      <input id="checkSlave" type="checkbox" ng-model="preview">
     </div>
    </li>
    <li>
      <button id='download' class='uk-button' 
        style="margin-left:5px;margin-top:5px;display:none">
       <a download='slides.html' ng-href='{{dnlink}}'>
        <i class="uk-icon uk-icon-download"></i> 
        Download
        </a>
      </button>
    </li>
  </ul>
    </nav>
        <div class="uk-grid">
  <div id='editor' ng-model='exampleCode' ui-ace="aceOptions">{{ exampleCode }}
  </div><br/>
   <div id='vis'>
     
   </div>

<script type='text/javascript'>

//ocpu.seturl("//public.opencpu.org/ocpu/github/ramnathv/slidify/R")


var lodash = angular.module('lodash', []);
lodash.factory('_', function () {
    return window._;
});

var myApp = angular.module('myApp', ['ui.ace', 'lodash'], 
  function($locationProvider){
    $locationProvider.html5Mode(true);
  }
)

function getGist(id, callback){
  $.getJSON("https://api.github.com/gists/" + id).success(callback)
}


// parse a spec and create a visualization view
function parse(spec) {
  return vg.parse.spec(spec, function(chart){
    chart({el:'#vis'}).update(); 
  })
}


myApp.controller('MainCtrl', function($scope, $http, $location){  
  $scope.n = function(){
    return $location.search()['n'] || 0
  }
  // console.log($location.search())
  $scope.preview = true
  $http({
    method: 'get',
    url: './playground/examples/spec.json'
  }).success(function(result){
    $scope.files = ['spec.json']
    $scope.examples = ['example1']
    $scope.example = $scope.examples[0]//[$scope.n()]
    $scope.exampleCode = js_beautify(JSON.stringify(result))
  })
  
   $scope.aceOptions = {
     theme: 'solarized_light',
     mode: 'json',
     useWrapMode : true
   }
   
   $scope.slidifyText = function(){
     $("#download").hide()
     parse(JSON.parse($scope.exampleCode))
   }
   
   $scope.$watch('exampleCode', _.debounce(function(newCode){
     $scope.exampleCode = newCode
     if ($scope.preview){
       $scope.slidifyText()
     }
   }, 3000))
   
   
   $scope.$watch('example', function(newExample){
     if (typeof newExample != 'undefined'){
       $scope.exampleCode = $scope.files[newExample.file].content
       $("#download").hide()
       $("#output").attr('src', '')
     }
   })
})


</script>
  </body> 
</html>